# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build output
dist/
build/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.log

# Temp files
enc.py
